@model Jackdaw.IdentityServer.Models.Account.LogoutViewModel

<div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-lg-8 page-content text-center">
            <h2 lang="@ViewBag.CultureName">@Localizer["Heading"]</h2>
            <p lang="@ViewBag.CultureName">@Localizer["Text-1"]</p>
            <form asp-action="Logout">
                <input type="hidden" name="logoutId" value="@Model.LogoutId"  />
                <div class="form-group" lang="@ViewBag.CultureName">
                    <button class="btn btn-primary" lang="@ViewBag.CultureName">@Localizer["Text-2"]</button>
                </div>
            </form>
        </div>
    </div>
</div>
