@*<div class="player" id="homeVideo" data-property="{videoURL:'https://youtu.be/a7brz-Ck5A8',containment:'#home',autoPlay:true, useOnMobile:true, mute:true, startAt:0, stopAt:10, loop:false, fadeOnStartTime: 4000, showControls:false, stopMovieOnBlur:false, showYTLogo:false, gaTrack:false}"></div>*@
@*<div class="player" id="homeVideo" data-property="{videoURL:'https://youtu.be/lNfgSuDODaw',containment:'#home',autoPlay:true, useOnMobile:true, mute:true, startAt:0, stopAt:20, loop:false, fadeOnStartTime: 4000, showControls:false, stopMovieOnBlur:false, showYTLogo:false, gaTrack:false}"></div>*@
<div class="player" id="homeVideo" data-property="{videoURL:'https://youtu.be/200gsMIjmpg',containment:'#home',autoPlay:true, useOnMobile:true, mute:true, startAt:1, stopAt:20, loop:false, fadeOnStartTime: 4000, showControls:false, stopMovieOnBlur:false, showYTLogo:false, gaTrack:false}"></div>
<div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center">
    <div class="col-12 col-lg-8 home-content text-center">
        <h4 class="cd-headline clip home-headline d-flex justify-content-center" lang="@ViewBag.CultureName">
            <span class="my-auto pr-2">@Localizer["A new"]</span> 
            <span class="cd-words-wrapper single-headline">
                <b class="is-visible" lang="@ViewBag.CultureName">@Localizer["experience"]</b>
                <b lang="@ViewBag.CultureName">@Localizer["design by Exill"]</b>
                <b class="is-wrapable" lang="@ViewBag.CultureName">@Localizer[".Net 6.0 MVC development"]</b>
                <b lang="@ViewBag.CultureName">@Localizer["website"]</b>
                <b lang="@ViewBag.CultureName">@Localizer["way coming"] ...</b>
            </span>
        </h4>
    </div>
    </div>
</div>
