@*<div class="player" id="homeVideo" data-property="{videoURL:'https://youtu.be/JQxUnRbvsiQ',containment:'#home',autoPlay:true, mute:true, startAt:13, stopAt:76, fadeOnStartTime: 6000, showControls:false, stopMovieOnBlur:false, showYTLogo:false, gaTrack:false}"></div>*@
<div class="player" id="homeVideo" data-property="{videoURL:'https://youtu.be/a7brz-Ck5A8',containment:'#home',autoPlay:true, mute:true, startAt:0, stopAt:10, loop:false, fadeOnStartTime: 4000, showControls:false, stopMovieOnBlur:false, showYTLogo:false, gaTrack:false}"></div>
@*<div class="player" id="homeVideo" data-property="{videoURL:'https://youtu.be/hM6Q8XEE88w',containment:'#home',autoPlay:true, mute:false, startAt:0, stopAt:59, loop:false, fadeOnStartTime: 4000, showControls:false, stopMovieOnBlur:false, showYTLogo:false, gaTrack:false}"></div>*@
<div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center">
    <div class="col-12 col-lg-8 home-content text-center">
        @*<h1 class="home-name"> <span></span></h1>*@
        <h4 class="cd-headline clip home-headline" lang="@ViewBag.CultureName">@Localizer["A new"] <span class="cd-words-wrapper single-headline" lang="@ViewBag.CultureName"><b class="is-visible" lang="@ViewBag.CultureName">@Localizer["experience"]</b><b lang="@ViewBag.CultureName">@Localizer["design by Exill"]</b><b lang="@ViewBag.CultureName">@Localizer[".Net 6.0 MVC development"]</b><b>@Localizer["website"]</b><b lang="@ViewBag.CultureName">@Localizer["way coming"] ...</b></span></h4>
    </div>
    </div>
</div>
