@{
    var version = FileVersionInfo.GetVersionInfo(typeof(Duende.IdentityServer.Hosting.IdentityServerMiddleware).Assembly.Location).ProductVersion?.Split('+').First();
}

<div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-lg-8 page-content text-center">
            <h2 lang="@ViewBag.CultureName">@Localizer["Heading"] @version</h2>
            <ul class="text-left">
                <li lang="@ViewBag.CultureName">
                    @Localizer["Text-1A"]
                    <a href="~/.well-known/openid-configuration" lang="@ViewBag.CultureName">@Localizer["Text-1B"]</a>
                    @Localizer["Text-1C"]
                </li>
                <li lang="@ViewBag.CultureName">
                    @Localizer["Text-2A"] <a href="~/diagnostics" lang="@ViewBag.CultureName">@Localizer["Text-2B"]</a> @Localizer["Text-2C"]
                </li>
                <li lang="@ViewBag.CultureName">
                    @Localizer["Text-3A"] <a href="~/grants" lang="@ViewBag.CultureName">@Localizer["Text-3B"]</a> @Localizer["Text-3C"]
                </li>
                <li lang="@ViewBag.CultureName">
                    @Localizer["Text-4A"]
                    <a href="https://github.com/duendesoftware/IdentityServer" lang="@ViewBag.CultureName">@Localizer["Text-4B"]</a>,
                    @Localizer["Text-4C"] <a href="https://github.com/duendesoftware/samples" lang="@ViewBag.CultureName">@Localizer["Text-4D"]</a>.
                </li>
            </ul>
        </div>
    </div>
</div>

