  <!-- About lightbox-->
  <div class="lightbox-wrapper" id="about" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description" lang="@ViewBag.CultureName">@SharedLocalizer["Get to know me"]</p>
                  <h2 class="section-title" lang="@ViewBag.CultureName">@SharedLocalizer["About Me"]</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Info section-->
            <div class="info-section single-section">
              <div class="row align-items-center">
                <!-- Picture part-->
                <div class="col-12 col-lg-5 info-img"><img class="img-fluid img-thumbnail" src="_content/Jackdaw.ClassLibrary.Mvc/img/Me.jpg" alt="About Picture"></div>
                <!-- Content part-->
                <div class="col-12 col-lg-7 info-content">
                  <div class="content-block">
                    <h2 class="content-subtitle" lang="@ViewBag.CultureName">@SharedLocalizer["Who am i?"]</h2>
                    <h6 class="content-title" lang="@ViewBag.CultureName">@SharedLocalizer["I'm a vintage Developer"]</h6>
                    <div class="content-description">
                      <p lang="@ViewBag.CultureName">@SharedLocalizer["About_P1"]</p>
                      <p lang="@ViewBag.CultureName">@SharedLocalizer["About_P2"]</p>
                      <p lang="@ViewBag.CultureName">@SharedLocalizer["About_P3"]</p>
                    </div>
                    <address class="content-info">
                      <div class="row">
                        <div class="col-12 col-md-6 single-info"><span lang="@ViewBag.CultureName">@SharedLocalizer["Name"]:</span>
                          <p>Chris Cavell</p>
                        </div>
                        <div class="col-12 col-md-6 single-info"><span lang="@ViewBag.CultureName">@SharedLocalizer["Email"]:</span>
                          <p><a href="mailto:cdcavell@gmail.com">cdcavell@gmail.com</a></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-md-6 single-info"><span lang="@ViewBag.CultureName">@SharedLocalizer["Age"]:</span>
                          <p>@AppSettings.AuthorAge()</p>
                        </div>
                        <div class="col-12 col-md-6 single-info"><span lang="@ViewBag.CultureName">@SharedLocalizer["From"]:</span>
                          <p>Baton Rouge, Louisiana, US</p>
                        </div>
                      </div>
                    </address>
                    <div class="d-block d-sm-flex align-items-center">
                      <ul class="list-unstyled list-inline content-follow">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/christopher-d-cavell-6192113b" rel="external nofollow noopener noreferrer"><i class="icon ion-logo-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/cdcavell/Jackdaw" rel="external nofollow noopener noreferrer"><i class="icon ion-logo-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/CDCavell" rel="external nofollow noopener noreferrer"><i class="icon ion-logo-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.facebook.com/cdcavell/" rel="external nofollow noopener noreferrer"><i class="icon ion-logo-facebook"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
