  <!-- Culture lightbox-->
  <div class="lightbox-wrapper" id="culture" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description" lang="@ViewBag.CultureName">@SharedLocalizer["culture-section-description"]</p>
                  <h2 class="section-title" lang="@ViewBag.CultureName">@SharedLocalizer["culture-section-title"]</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Culture section-->
            <div class="culture-section single-section">
                <div class="row justify-content-center">                
                    <div class="col-12 col-lg-7 info-content">
                        <div class="content-block">
                            <!-- Culture selection-->
                            <div class="content-description">
                                <div class="d-block d-sm-flex pt-2">
                                    <ul class="list-unstyled list-info pl-5">
                                        <li class="culture-link"><a href="en-US"><span class="single-language">[ENG] @SharedLocalizer["culture-content-description-l1"]</span></a></li>
                                        <li class="culture-link"><a href="nl"><span class="single-language">[DUT] @SharedLocalizer["culture-content-description-l2"]</span></a></li>
                                        <li class="culture-link"><a href="fr"><span class="single-language">[FRE] @SharedLocalizer["culture-content-description-l3"]</span></a></li>
                                        <li class="culture-link"><a href="es"><span class="single-language">[SPA] @SharedLocalizer["culture-content-description-l4"]</span></a></li>
                                        <li class="culture-link"><a href="ja"><span class="single-language">[JAP] @SharedLocalizer["culture-content-description-l5"]</span></a></li>
                                        <li class="culture-link"><a href="ar"><span class="single-language">[ARA] @SharedLocalizer["culture-content-description-l6"]</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>>