<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="author" content="Christopher D. Cavell">

    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="cdcavell.name" />
    <meta property="og:title" content="@SharedLocalizer["title"]" />
    <meta property="og:description" content="@SharedLocalizer["description"]" />
    <meta property="og:image" content="https://cdcavell.name/img/thumbnail.png" />
    <meta property="og:url" content="https://cdcavell.name/">
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="912870229223717" />

    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@@CDCavell" />
    <meta property="twitter:creator" content="@@CDCavell" />
    <meta property="twitter:title" content="@SharedLocalizer["title"]" />
    <meta property="twitter:description" content="@SharedLocalizer["description"]" />
    <meta property="twitter:image" content="https://cdcavell.name/img/twitter-thumbnail.png" />

    <meta name="description" content="@SharedLocalizer["title"]. @SharedLocalizer["description"]">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="google-site-verification" content="v2DPETQobg3Ip1zEugzvNdHM9-oqH5TdPKq2ycrn1w0">

    <title>@SharedLocalizer["title"]</title>
    <base href="/" />

    <link rel="icon" type="image/x-icon" href="_content/Jackdaw.ClassLibrary.Mvc/img/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="_content/Jackdaw.ClassLibrary.Mvc/img/favicon.ico" />

    <link rel="alternate" hreflang="en-US" href="@Html.Raw($"{ViewBag.CurrentUrl}culture=en-US&ui-culture=en-US")" />
    <link rel="alternate" hreflang="nl" href="@Html.Raw($"{ViewBag.CurrentUrl}culture=nl&ui-culture=nl")" />
    <link rel="alternate" hreflang="fr" href="@Html.Raw($"{ViewBag.CurrentUrl}culture=fr&ui-culture=fr")" />
    <link rel="alternate" hreflang="es" href="@Html.Raw($"{ViewBag.CurrentUrl}culture=es&ui-culture=es")" />
    <link rel="alternate" hreflang="ja" href="@Html.Raw($"{ViewBag.CurrentUrl}culture=ja&ui-culture=ja")" />
    <link rel="alternate" hreflang="ar" href="@Html.Raw($"{ViewBag.CurrentUrl}culture=ar&ui-culture=ar")" />
    <link rel="alternate" hreflang="uk" href="@Html.Raw($"{ViewBag.CurrentUrl}culture=uk&ui-culture=uk")" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&amp;display=swap" nonce="@ViewBag.StyleNonce" />

    <link rel="stylesheet" type="text/css" media="screen" href="_content/Jackdaw.ClassLibrary.Mvc/lib/bootstrap-5.1.3-dist/css/bootstrap.min.css" asp-append-version="true" nonce="@ViewBag.StyleNonce" />
    <link rel="stylesheet" type="text/css" media="screen" href="_content/Jackdaw.ClassLibrary.Mvc/lib/fontawesome-free-5.15.4-web/css/all.min.css" asp-append-version="true" nonce="@ViewBag.StyleNonce" />

    <link rel="stylesheet" type="text/css" media="screen" href="_content/Jackdaw.ClassLibrary.Mvc/lib/Kitzu/css/bootstrap-custom.css" asp-append-version="true" nonce="@ViewBag.StyleNonce" />
    <link rel="stylesheet" type="text/css" media="screen" href="_content/Jackdaw.ClassLibrary.Mvc/lib/Kitzu/css/ionicons.min.css" asp-append-version="true" nonce="@ViewBag.StyleNonce" />
    <link rel="stylesheet" type="text/css" media="screen" href="_content/Jackdaw.ClassLibrary.Mvc/lib/Kitzu/css/tiny-slider.css" asp-append-version="true" nonce="@ViewBag.StyleNonce" />
    <link rel="stylesheet" type="text/css" media="screen" href="_content/Jackdaw.ClassLibrary.Mvc/lib/Kitzu/css/lity.min.css" asp-append-version="true" nonce="@ViewBag.StyleNonce" />
    <link rel="stylesheet" type="text/css" media="screen" href="_content/Jackdaw.ClassLibrary.Mvc/lib/Kitzu/css/simplebar.min.css" asp-append-version="true" nonce="@ViewBag.StyleNonce" />
    <link rel="stylesheet" type="text/css" media="screen" href="_content/Jackdaw.ClassLibrary.Mvc/lib/Kitzu/css/jquery.mb.YTPlayer.min.css" asp-append-version="true" nonce="@ViewBag.StyleNonce" />
    <link rel="stylesheet" type="text/css" media="screen" href="_content/Jackdaw.ClassLibrary.Mvc/lib/Kitzu/css/main.css" asp-append-version="true" nonce="@ViewBag.StyleNonce" />
    <link rel="stylesheet" type="text/css" media="screen" href="_content/Jackdaw.ClassLibrary.Mvc/lib/Kitzu/css/colors/main-darkgreen.css" id="color-scheme" asp-append-version="true" nonce="@ViewBag.StyleNonce" />

    <link rel="stylesheet" type="text/css" media="screen" href="_content/Jackdaw.ClassLibrary.Mvc/css/site.min.css" asp-append-version="true" nonce="@ViewBag.StyleNonce" />
</head>
<body class="theme-dark">
    <!-- Preloader -->
    <div class="preloader">
      <div class="preloader-block">
        <div class="preloader-icon"><span class="loading-dot loading-dot-1"></span><span class="loading-dot loading-dot-2"></span><span class="loading-dot loading-dot-3"></span></div>
      </div>
    </div>
    <div id="overlay-effect"></div>
    <partial name="_Navbar" />
    <section class="home-area element-cover-bg video-variant bkg-img" id="home">
    <!-- Content -->
    @RenderBody()
    <div class="fixed-wrapper">
    <partial name="_Language" />
    <partial name="_Socialmedia" />
    </div>
    </section>
    <partial name="_About" />
    <partial name="_License" />
    <partial name="_Culture" />

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm", enctype = "application/x-www-form-urlencoded" }))
    {
        @Html.AntiForgeryToken()
    }

    <script type="text/javascript" src="_content/Jackdaw.ClassLibrary.Mvc/lib/jquery-3.6.0.min.js" asp-append-version="true" nonce="@ViewBag.ScriptNonce"></script>
    <script type="text/javascript" src="_content/Jackdaw.ClassLibrary.Mvc/lib/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js" asp-append-version="true" nonce="@ViewBag.ScriptNonce"></script>

    <script type="text/javascript" src="_content/Jackdaw.ClassLibrary.Mvc/lib/Kitzu/js/imagesloaded.pkgd.min.js" asp-append-version="true" nonce="@ViewBag.ScriptNonce"></script>
    <script type="text/javascript" src="_content/Jackdaw.ClassLibrary.Mvc/lib/Kitzu/js/isotope.pkgd.min.js" asp-append-version="true" nonce="@ViewBag.ScriptNonce"></script>
    <script type="text/javascript" src="_content/Jackdaw.ClassLibrary.Mvc/lib/Kitzu/js/animatedModal.js" asp-append-version="true" nonce="@ViewBag.ScriptNonce"></script>
    <script type="text/javascript" src="_content/Jackdaw.ClassLibrary.Mvc/lib/Kitzu/js/tiny-slider.js" asp-append-version="true" nonce="@ViewBag.ScriptNonce"></script>
    <script type="text/javascript" src="_content/Jackdaw.ClassLibrary.Mvc/lib/Kitzu/js/lity.min.js" asp-append-version="true" nonce="@ViewBag.ScriptNonce"></script>
    <script type="text/javascript" src="_content/Jackdaw.ClassLibrary.Mvc/lib/Kitzu/js/simplebar.min.js" asp-append-version="true" nonce="@ViewBag.ScriptNonce"></script>
    <script type="text/javascript" src="_content/Jackdaw.ClassLibrary.Mvc/lib/Kitzu/js/jquery.mb.YTPlayer.min.js" asp-append-version="true" nonce="@ViewBag.ScriptNonce"></script>
    <script type="text/javascript" src="_content/Jackdaw.ClassLibrary.Mvc/lib/Kitzu/js/main.js" asp-append-version="true" nonce="@ViewBag.ScriptNonce"></script>

    <script type="text/javascript" src="_content/Jackdaw.ClassLibrary.Mvc/js/site.min.js" asp-append-version="true" nonce="@ViewBag.ScriptNonce"></script>
    @RenderSection("scripts", required: false)
</body>
</html>