  <!-- License lightbox-->
  <div class="lightbox-wrapper" id="license" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description" lang="@ViewBag.CultureName">@SharedLocalizer["license-section-description"]</p>
                  <h2 class="section-title" lang="@ViewBag.CultureName">@SharedLocalizer["license-section-title"]</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- License section-->
            <div class="license-section single-section">
                <div class="row justify-content-center">                
                    <div class="col-12 col-lg-7 info-content">
                        <div class="content-block">
                            <!-- Main site license-->
                            <h4 class="content-subtitle" lang="@ViewBag.CultureName">@SharedLocalizer["license-content-subtitle-1"]</h4>
                            <div class="content-description pl-3 pb-5">
                                <p lang="@ViewBag.CultureName">@SharedLocalizer["license-content-description-1-p1"]</p>
                                <p class="pb-2" lang="@ViewBag.CultureName">@SharedLocalizer["license-content-description-1-p2"]</p>
                                <p lang="@ViewBag.CultureName">@SharedLocalizer["license-content-description-1-p3"]</p>
                                <p class="py-2" lang="@ViewBag.CultureName">@SharedLocalizer["license-content-description-1-p4"]</p>
                                <p lang="@ViewBag.CultureName">@SharedLocalizer["license-content-description-1-p5"]</p>
                            </div>
                            <!-- Exill license-->
                            <h4 class="content-subtitle" lang="@ViewBag.CultureName">Kitzu Personal Portfolio Template</h4>
                            <div class="content-description  pl-3 pb-5">
                                <p lang="@ViewBag.CultureName"><a href="https://themeforest.net/item/kitzu-personal-portfolio-template/26075107" rel="external nofollow noopener noreferrer">Kitzu</a> is developed by <a href="https://themeforest.net/user/exill" rel="external nofollow noopener noreferrer">Exill</a> and licensed under the <a href="http://themeforest.net/licenses" rel="external nofollow noopener noreferrer">Envato Market Standard License</a></p>
                            </div>
                            <!-- Assets license-->
                            <h4 class="content-subtitle" lang="@ViewBag.CultureName">Supporting Assets</h4>
                            <div class="content-description pl-3 pb-5">
                                <div class="d-block d-sm-flex align-items-start pt-2">
                                    <ul class="list-unstyled list-info">
                                        <li class=""><a href="https://github.com/ionic-team/ionicons/releases/tag/v4.5.8" rel="external nofollow noopener noreferrer">Ionicons</a></li>
                                        <li class=""><a href="https://github.com/ganlanyuan/tiny-slider" rel="external nofollow noopener noreferrer">tiny-slider</a></li>
                                        <li class=""><a href="https://github.com/jquery/jquery" rel="external nofollow noopener noreferrer">jQuery</a></li>
                                        <li class=""><a href="https://github.com/twbs/bootstrap" rel="external nofollow noopener noreferrer">Bootstrap</a></li>
                                        <li class=""><a href="https://github.com/joaopereirawd/animatedModal.js" rel="external nofollow noopener noreferrer">animatedModal.js</a></li>
                                        <li class=""><a href="https://github.com/jsor/lity" rel="external nofollow noopener noreferrer">Lity</a></li>
                                        <li class=""><a href="https://github.com/pupunzi/jquery.mb.YTPlayer" rel="external nofollow noopener noreferrer">jquery.mb.YTPlayer</a></li>
                                        <li class=""><a href="https://github.com/Grsmto/simplebar" rel="external nofollow noopener noreferrer">Simplebar</a></li>
                                        <li class=""><a href="https://github.com/desandro/imagesloaded" rel="external nofollow noopener noreferrer">imagesLoaded</a></li>
                                    </ul>
                                </div>
                                <p lang="@ViewBag.CultureName">The above asset(s) are under MIT/ISC license:</p>
                                <p lang="@ViewBag.CultureName">Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
                                <p class="py-2" lang="@ViewBag.CultureName">The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
                                <p lang="@ViewBag.CultureName">THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
                                <div class="d-block d-sm-flex align-items-start pt-4">
                                    <ul class="list-unstyled list-info">
                                        <li class=""><a href="https://github.com/CodyHouse/animated-headline" rel="external nofollow noopener noreferrer">animated-headline</a></li>
                                    </ul>
                                </div>
                                <p lang="@ViewBag.CultureName">Released under the BSD-3-Clause license.</p>
                                <p class="pt-2" lang="@ViewBag.CultureName">Copyright 2018 Amber Creative Lab Ltd, CodyHouse.co</p>
                                <p class="py-2" lang="@ViewBag.CultureName">Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:</p>
                                <p lang="@ViewBag.CultureName">Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.</p>
                                <p lang="@ViewBag.CultureName">THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.</p>
                                <div class="d-block d-sm-flex align-items-start pt-4">
                                    <ul class="list-unstyled list-info">
                                        <li class=""><a href="https://github.com/metafizzy/isotope" rel="external nofollow noopener noreferrer">Isotope</a></li>
                                    </ul>
                                </div>
                                <p lang="@ViewBag.CultureName">Licensed GPLv3 for open source use or Isotope Commercial License for commercial use.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>>